.container{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;

}
.icon{
	background: url("../images/icon.png");
	background-repeat: no-repeat;
	margin-top:20px;
	width:60px;
	height:50px;
  	margin-left: 20px;
	display: inline-block;
}


.text{
	display: inline-block;
	font-size: 15px;
	margin-left:-20px;
	margin-top:30px;
	font-weight: bold;
	vertical-align: top;
}
